{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "alpha-value-notation": "number",

    "color-function-notation": null,
    "color-hex-length": "long",
    "color-named": "never",

    "length-zero-no-unit": [true, {
      "ignore": ["custom-properties"],
      "ignoreFunctions": ["var", "/^--/"]
    }],

    "font-family-name-quotes": "always-unless-keyword",

    "number-max-precision": 2,

    "value-keyword-case": ["lower", {
      "camelCaseSvgKeywords": true
    }],

    "declaration-no-important": true,

    "selector-class-pattern": null,
    "selector-id-pattern": null,
    "selector-max-id": 0,
    "selector-max-universal": 2,
    "selector-not-notation": "simple",

    "at-rule-empty-line-before": ["always", {
      "except": ["blockless-after-same-name-blockless", "first-nested"],
      "ignore": ["after-comment"],
      "ignoreAtRules": ["else"]
    }],

    "no-descending-specificity": null,

    "scss/at-each-key-value-single-line": true,

    "scss/at-mixin-argumentless-call-parentheses": "always",

    "scss/dollar-variable-colon-newline-after": "always-multi-line",
    "scss/dollar-variable-colon-space-after": "always-single-line",
    "scss/dollar-variable-first-in-block": [true, {
      "ignore": ["comments", "imports"]
    }],

    "scss/declaration-nested-properties": "never",

    "scss/dimension-no-non-numeric-values": true,

    "scss/map-keys-quotes": "always",

    "scss/selector-no-redundant-nesting-selector": true,

    "scss/no-duplicate-dollar-variables": [true, {
      "ignoreInside": ["at-rule"],
      "ignoreInsideAtRules": ["if", "each", "for", "mixin", "function"],
      "ignoreDefaults": true
    }]
  }
}
