{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "no-descending-specificity": null,

    "property-no-unknown": null,

    "color-hex-alpha": "never",
    "color-named": "never",

    "declaration-no-important": true,

    "length-zero-no-unit": [true, {
      "ignore": ["custom-properties"],
      "ignoreFunctions": ["var", "/^--/"]
    }],

    "value-keyword-case": ["lower", {
      "camelCaseSvgKeywords": true
    }],

    "max-nesting-depth": [2, {
      "ignore": ["blockless-at-rules", "pseudo-classes"]
    }],
    "number-max-precision": 2,
    "selector-max-id": 0,
    "selector-max-universal": 2,

    "alpha-value-notation": "number",
    "color-function-notation": null,
    "color-hex-length": "long",
    "font-weight-notation": ["numeric", {
      "ignore": ["relative"]
    }],
    "media-feature-range-notation": "prefix",
    "selector-not-notation": "simple",

    "selector-class-pattern": "^[a-z0-9-_]+$",
    "selector-id-pattern": null,

    "font-family-name-quotes": "always-unless-keyword",

    "scss/at-each-key-value-single-line": true,

    "scss/at-mixin-argumentless-call-parentheses": "always",

    "scss/dollar-variable-colon-newline-after": "always-multi-line",
    "scss/dollar-variable-colon-space-after": "always-single-line",
    "scss/dollar-variable-first-in-block": [true, {
      "ignore": ["comments", "imports"]
    }],

    "scss/declaration-nested-properties": "never",

    "scss/dimension-no-non-numeric-values": true,

    "scss/map-keys-quotes": "always",

    "scss/property-no-unknown": true,

    "scss/selector-no-redundant-nesting-selector": true,

    "scss/no-duplicate-dollar-variables": [true, {
      "ignoreInside": ["at-rule"],
      "ignoreInsideAtRules": ["mixin", "function", "if", "each", "for", "while"]
    }]
  }
}
