.visually-hidden:not(:focus):not(:active) {
  @include visually-hidden;
}

.container {
  box-sizing: border-box;
  min-width: $width-mobile;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;

  @include media-min($width-tablet) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @include media-min($width-desktop) {
    padding-right: 50px;
    padding-left: 50px;
  }
}
