// Fonts
// stylelint-disable-next-line value-keyword-case
$font-primary: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;

// Settings
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1440px;
