extends templates/layout

prepend variables
  -
    const title = 'Simple Starter';
    const description = 'The basic boilerplate to start development';

append variables
  -
    html.classList.push('no-js');

    meta.push({
      name: 'theme-color',
      content: '#ffffff',
    });
  //-
    preloads.push('fonts/font-regular.woff2');
    links.push({
      rel: 'icon',
      href: 'favicon.ico',
    });
    links.push({
      rel: 'icon',
      href: 'images/favicons/favicon.svg',
      type: 'image/svg+xml',
    });
    links.push({
      rel: 'apple-touch-icon',
      href: 'images/favicons/apple.png',
    });
    links.push({
      rel: 'manifest',
      href: 'manifest.webmanifest',
    });

block content
  include templates/data
  //- include templates/sprite

  include templates/components/header

  main.main
    div.container
      p There will be something awesome!

  include templates/components/footer
