extends pug/layout

prepend variables
  //-

append variables
  -
    title = 'Simple Starter';
    description = 'Basic skeleton to start development (pug + sass)';

    html.classList.push('no-js');

block content
  //- include pug/sprite

  include pug/components/header
  include pug/pages/main
  include pug/components/footer
