extends pug/layout

prepend variables
  -
    const title = 'Simple Starter';
    const description = 'Basic skeleton to start development (pug + sass)';

append variables
  -
    html.classList.push('no-js');

    meta.push({
      name: 'theme-color',
      content: '#ffffff',
    });
  //-
    preloads.push('fonts/font-regular.woff2');
    links.push({
      rel: 'icon',
      href: 'favicon.ico',
    });
    links.push({
      rel: 'icon',
      href: 'img/favicons/favicon.svg',
      type: 'image/svg+xml',
    });
    links.push({
      rel: 'apple-touch-icon',
      href: 'img/favicons/apple.png',
    });
      links.push({
      rel: 'manifest',
      href: 'manifest.webmanifest',
    });

block content
  include pug/data
  //- include pug/sprite

  include pug/components/header
  include pug/pages/main
  include pug/components/footer
